.heading {
  text-align: center;
}
.content
{
  display: flex;
  justify-content: space-around;
}
.content div
{
  margin: 10px;
  min-width: 220px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .content
  {
    display: flex;
    flex-direction: column;
  }
}

