.card
{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: blueviolet;
  color: #fff;
  font-size: 0.7em;
  border-radius: 5px;
  min-width: 200px
}

.card div {
  margin: 5px 0;
}

.active {
  background-color: #29cf69;
}

.proposed {
  background-color: #8429cf;
}

.closed {
  background-color: #f27b1f;
}


.card div select{
  font-size: 0.8em ;
  border-radius: 3px;
  text-transform: capitalize;
}